.container
{
    width: 85%;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
}
.lbl,.txt,.btn
{
    display: block;
    margin: 20px 0px;
}
.txt
{
    padding: 5px;
}
.task-container
{
    display: flex;
    flex-direction: column;
}
